
.main-content-block {
    background-color: whitesmoke;
   padding-top: 25px;
   margin-top: 50px;
}

.bio-img {
    float: left;
    margin-right: 20px;
}

body {
    background-image: url("cool-background.png");
  }

.navbar-brand {
    background-color: #676869;
    margin: 10px;
    padding: 10px;
    border-style: inset;
    border-color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    color: whitesmoke;
}


.bg-light {
    background-color: #222!important;
}


.navbar-light .navbar-nav .nav-link {
    border-style: inset;
    background-color: #676869;
    font-family: 'Roboto Condensed', sans-serif;
    border-color: whitesmoke;
    color: rgba(0, 0, 0, 5)
}
