
.main-content-block {
    background-color: whitesmoke;
   padding-top: 25px;
   margin-top: 50px;
}

.bio-img {
    float: left;
    margin-right: 20px;
}

body {
    background-image: url("cool-background.png");
  }

.bg-light {
    background-color: aquamarine;
}

.navbar-brand {
    background-color: aquamarine;
}
 