
.main-content-block {
   padding-top: 25px;
   margin-top: 50px;
}

.bio-img {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 300px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Rubik', sans-serif;
}

body {
    background-image: url("cool-background.png");
  }

.navbar-brand {
    background-color: #676869;
    margin: 10px;
    padding: 10px;
    border-style: inset;
    border-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


.bg-light {
    background-color: #222!important;
}


.navbar-light .navbar-nav .nav-link {
    border-style: inset;
    background-color: #676869;
    font-family: 'Rubik', sans-serif;
    border-color: whitesmoke;
    color: rgba(0, 0, 0, 5);
    margin-left: 5px;
    text-align: center;
    font-weight: 500;
}

.navbar-light .navbar-toggler {
    background-color: #676869!important;
    text-align: center;
}

hr {
    height: 2px;
    background-color: lightgray;
}